<mat-toolbar style="background-color:transparent;">
    <div style="color:#D1E8E2; margin:auto">
        Welcome to the Broohaus, home of the greatest portfolio in the world!!
    </div>
    <div>
        <div style="text-align:center; color:#d1E8E2; display:inline-block">
            HIRE ME!!!
        </div>
        <div class="dropdown">
            <span>HOVER THIS</span>
            <div class="dropdown-content">
                <div class="indv-dropdown-content">FART</div>
                <div class="indv-dropdown-content">WEE-WEE</div>
                <div class="indv-dropdown-content">DINGUS</div>
            </div>
        </div>
    </div>
</mat-toolbar>
