<mat-card class="testcard">
        <mat-card-header>
            <mat-card-title>Christopher Banz</mat-card-title>
            <mat-card-subtitle>Guy who is okay at doing stuff</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>Feel free to contact me via any of the following methods. In my butt.</mat-card-content>
        <mat-card-actions>
            <button>EMAIL</button>
            <button>TEXT</button>
            <button>SNAIL MAIL</button>
            <button>CARRIER PIGEON</button>
        </mat-card-actions>
</mat-card>
